name: readforge

services:
  website:
    build:
      context: ./website
      dockerfile: Dockerfile
    ports:
      - "3012:80"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:80/"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
